{% extends 'layout.html' %}

{% block title %}Dialog{% endblock %}

{% block content %}
<h1>Hi</h1>
{{ tagContent | safe }}

<div class="well">
  <form action="/login" method="post">
    <div class="form-group">
      <label>Username:
        <input type="text" name="username">
      </label>
    </div>
    <div class="form-group">
      <label>Password:
        <input type="password" name="password">
      </label>
    </div>
    <div>
      <button type="submit" class="btn btn-default">Log In</button>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/riot/2.2.4/riot.min.js"></script>
<script src="/js/riot-tags.js"></script>
<script>
  riot.mount('*', {firstName: '{{firstName}}'});
</script>
{% endblock %}
