<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dialogg - Kontextuella samband för din diabetes{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.min.css">
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <a href="/" class="logo">Dialogg</a>
    <nav>
      <ul>
        <li><a href="#">Statisik</a></li>
        <li><a href="/import/">Import</a></li>
        <li><a href="#">Inställningar</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
